@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: var(--medium);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: var(--bold);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: var(--regular);
  font-style: normal;
}

:root {
  --primary-color: #407bff;
  --white-color: #ffffff;
  --primary-txt-color: #2f2f2f;

  --blue-color: #407bff;
  --orange-color: #ff9d43;
  --red-color: #ef5050;
  --light-blue-color: #9ebbff;
  --light-grey-color: #d7e3ff;
  --second-background-color: #ecf2ff;

  --medium: 500;
  --bold: 700;
  --regular: 400;
}

input {
  &:hover {
    background-color: #f0f0f0; 
  }
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
body {
 
  margin: 0;
  overflow: auto;
  transition: 250ms linear;
}

.container {
  padding-top: 80px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  
  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

.background {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
